<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {% seo %}
</head>

<body class="d-flex min-vh-100 text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="text-center">
      <div class="container-fluid">
        <h3 class="mb-0">Balaji Arun</h3>
      </div>
    </header>

    <main class="flex-shrink-0">
      <div class="container-fluid no-gutters mt-5">
        <div class="row">
          <div class="col-md-4 text-center mb-4">
            <img
              src="https://avatars2.githubusercontent.com/u/3034228?s=460&u=874954f553e3c0bde8e2059004a4dbf489b8a261&v=4"
              alt="" class="img-responsive mx-auto" width="150" height="150">
          </div>
          <div class="col-md-8">
            <p>
              I am a PhD student in the 
              <a href="https://ssrg.ece.vt.edu/" target="_blank">Systems Software Research Group</a> 
              at <a href="https://vt.edu" target="_blank">Virginia Tech</a> 
              under Professor <a href="https://ece.vt.edu/people/profile/ravindran" target="_blank">Binoy Ravindran.</a> 
              My research interests are broadly in distributed systems. 
              I currently study Byzantine Fault Tolerant protocols.
            </p>
            <p class="text-center">
              <a href="https://scholar.google.com/citations?user=crsl-Y0AAAAJ&hl=en" target="_blank">Google Scholar</a> | 
              <a href="https://github.com/ibalajiarun/" target="_blank">Github</a> |
              balajia at vt dot edu
            </p>
          </div>
        </div>

        <hr />

        <div class="row">
          <h5>In Progress</h5>

          {% include pubs.html list=site.data.wip %}
        </div>

        <hr />

        <div class="row">
          <h5>Publications</h5>

          {% include pubs.html list=site.data.pubs %}
        </div>
      </div>
    </main>

    <hr />

    <footer class="footer mt-auto py-3 text-center">
      <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a -->
          <!-- href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p> -->
    </footer>
  </div>
</body>

</html>