<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="h-100">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {% seo %}
  {% include analytics.html %}
</head>

<body class="d-flex min-vh-100 text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="text-center">
      <div class="container-fluid">
        <h3 class="mb-0">Balaji Arun</h3>
      </div>
    </header>

    <main class="flex-shrink-0">
      <div class="container-fluid no-gutters mt-5">
        <div class="row">
          <div class="col-md-4 text-center mb-4">
            <img
              src="https://avatars2.githubusercontent.com/u/3034228?s=460&u=874954f553e3c0bde8e2059004a4dbf489b8a261&v=4"
              alt="" class="img-responsive mx-auto" width="150" height="150">
          </div>
          <div class="col-md-8">
            <p>
              I am a Researcher at 
              <a href="https://aptoslabs.com/" target="_blank">Aptos Labs</a>. 
            </p>
            <p>
              I received my PhD in Computer Engineering from 
              <a href="https://vt.edu" target="_blank">Virginia Tech</a>. 
              My dissertation advisor was Professor 
              <a href="https://ece.vt.edu/people/profile/ravindran" target="_blank">Binoy Ravindran</a>. 
              My research interests are broadly in distributed systems.
            </p>
            <p class="text-center">
              <a href="https://scholar.google.com/citations?user=crsl-Y0AAAAJ&hl=en" target="_blank">Google Scholar</a> | 
              <a href="{{ "/assets/files/cv.pdf" | relative_url }}" target="_blank">CV</a> |
              <a href="https://github.com/ibalajiarun/" target="_blank">Github</a> |
              <a href="https://twitter.com/ibalajiarun" target="_blank">Twitter</a>
            </p>
          </div>
        </div>

        <hr />

        <div class="row">
          <h5>Preprints</h5>

          {% include pubs.html list=site.data.wip %}
        </div>

        <hr />

        <div class="row">
          <h5>Publications</h5>

          {% include pubs.html list=site.data.pubs %}
        </div>
      </div>
    </main>

    <hr />

    <footer class="footer mt-auto py-3 text-right">
      <p class="small">&copy; Balaji Arun | Last Updated: {{ 'now' | date: '%D'}}</p>
    </footer>
  </div>
</body>

</html>
